<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Enter username</label>
            <input type="text" class="form-control" name="username" id="username" aria-describedby="usernamehelpertxt"> <br>

            <label for="password">Enter password</label>
            <input type="password" class="form-control" name="password" id="password"> <br>
            
        </div>
        <button type="submit">Login</button>
    </form>
</body>
</html>